

footer img {
  width: 40px;
  float: left;
  bottom: -56px;
  left: 3px;
}

footer {
  height: 50px;
  background: #1f2021;
  border-top: solid #c7e5f9;  text-align: center;

}

footer p {vertical-align: sub;color: #c3c3c3;}
