<div class="login_box">
  <div>
    <div class="line">
      <h3>12 : 30 AM</h3>
    </div>
    <div class="outter"><img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="image-circle" /></div>
    <h1> سلام ماهان سلامی</h1>
   </div>
  <div class="ui eight-wide follow line">
    <h3>
      125651 <br /> <span>FOLLOWERS</span>
    </h3>
  </div>
  <div class="ui eight-wide follow line">
    <h3>
      125651 <br /> <span>FOLLOWERS</span>
    </h3>
  </div>
</div>

<div class="ui grid service-element field">
  <a class="olive five wide column" [routerLink]="['/create']"><i class="fas icon-bottle"></i>سرویس جدید</a>
  <!-- <a class="brown five wide column"><i class="fas icon-title-car"></i>مشتری جدید</a> -->
  <a class="orange five wide column">
    <i class="fas icon-car" [routerLink]="['/services']"></i>لیست سرویس ها
  </a>
  <a class="yellow five wide column"><i class="fas icon-people"></i>لیست مشتری ها</a>
</div>
