<div class="ui grid service-element field">
  <a class="olive five wide column" [routerLink]="['/create']"><i class="fas icon-bottle"></i>سرویس جدید</a>
  <a class="brown five wide column"><i class="fas icon-title-car"></i>مشتری جدید</a>
  <a class="orange five wide column">
    <i class="fas icon-car" [routerLink]="['/services']"></i>لیست سرویس ها
  </a>
  <a class="yellow five wide column"><i class="fas icon-people"></i>لیست مشتری ها</a>


</div>
<div class="ui four statistics">

    <div class="statistic">
        <div class="value">
          <i class="plane icon"></i> 5
        </div>
        <div class="label">
          Flights
        </div>
      </div>

      <div class="statistic">
          <div class="value">
            <i class="plane icon"></i> 5
          </div>
          <div class="label">
            Flights
          </div>
        </div>

        <div class="statistic">
            <div class="value">
              <i class="plane icon"></i> 5
            </div>
            <div class="label">
              Flights
            </div>
          </div>

  </div>
