* {
  font-family: iranYekan !important;

}
form {
  text-align: center;
}
p {
  text-align: center;
  font-size: large;
  color: #2f2f2f;
}
input {
  text-align: center !important;
  font-size: large !important;
}
