<div class="ui tag labels">
  <a class="ui label teal">
    درخواست پشتیبانی </a>
</div>
<div class="container box-service">
  <div class="ui active dimmer" *ngIf="isLoading">
    <div class="ui text loader">لطفا شکیبا باشید ...</div>
  </div>
  <div class="button-conent">
    <form class="ui form">
      <div class="input-box">
        <div class="ui icon input field">
          <input type="text" maxlength="40" placeholder="موضوع" [(ngModel)]="tick.Subject"
            [ngModelOptions]="{standalone: true}">
          <i class="far fa-user "></i>
        </div>

        <div class="ui icon input field">
          <textarea maxlength="4000" placeholder="متن" [(ngModel)]="tick.Passage"
            [ngModelOptions]="{standalone: true}"></textarea>

        </div>
      </div>
      <br>
      <div class="text-center">
        <button class="ui labeled green big icon button field" [ngClass]="{'loading': isLoading}" (click)="submit()">
           ارسال </button></div>
    </form>
  </div>



</div>
